@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.calculator {
  position: relative;
  max-width: 830px;
  margin: 5em auto;
}

.display-wrapp {
  position: relative;
}

.current-operation {
  display: block;
  width: 94%;
  overflow: hidden;
  position: absolute;
  right: 24px;
  top: 10px;
  color: #e4e4e4;
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 9999;
}

.calculator__display {
  text-align: right;
}

.operations-history {
  position: absolute;
  right: -400px;
  top: 0;
  width: 380px;
  height: 100%;
  overflow: auto;
}

.calculator__digits-field,
.digit-buttons,
.engineer-buttons,
.memory-buttons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.calculator__digits-field {
  padding: 20px;
  justify-content: space-between;
}

.digit-buttons {
  width: 192px;
}

.memory-buttons {
  width: 64px;
}

.engineer-buttons {
  width: 192px;
}

.currency-section {
  width: 256px;
}

.btn > button > div > div {
  height: 60px !important;
  line-height: 60px;
  font-size: 20px;
  color: #fff;
}

.btn_disabled span {
  line-height: 36px !important;
}
